// Styling for the masthead

  canvas {
    position: absolute; 
    
    left:0;
    top:0;
    //width: 100% !important;
    //height:100% !important;
    z-index:-1;
    opacity:1;
  }

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/header-bg.jpg");
  background-color: rgba(20,20,20,0);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  .container {
    height:100%;
  }
 .shadow-box {
  margin: auto;
    background-color: rgba(0, 0, 0, .66);
    //background-color: rgba(17, 26, 33, .66);
    padding: 40px 25px 50px 25px;
  }
  img {
    margin-bottom: 25px;
    height: 140px;
    width: auto;
  }
  .intro-text {
    padding-top: 60px;
    padding-bottom: 80px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-100;
    .intro-heading {
      font-size: 30px;
      font-family: Montserrat;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 25px;
    }
    .intro-lead-in {
      color: $gray-500;
      font-style: italic;
      text-transform: none;
      font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    .intro-smalltext {
      color: $gray-500;
    }
    .intro-links{ // osef
      margin-bottom:130px;
      .intro-link {
        margin-left: 30px;
        margin-right: 30px;
        //color: $gray-400;
        font-style: italic;
        font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
      }
      .intro-link:hover {
        text-decoration: underline;
      }
    }
  }
}
@media(min-width:375px) {
  header.masthead {
    .intro-text {
      .intro-heading {
        //font-size: 50px;
      }
    }
    img {
      height: 180px;
    }
  }
}

@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 120px;
      padding-bottom: 160px;
      .intro-heading {
        font-size: 40px;
        line-height: 40px;
      }
      .intro-heading {
        //font-size: 75px;
        //line-height: 75px;
      }
    }
  }
}
