#project-nav {
  font-size: 40px;
  a {
    display:inline;
  }
}

#project {
  .section-heading {
    font-size: 48px;
  }
  .section-subheading {
    margin: 20px 0 30px 0;
  }
  img {
    margin-bottom: 30px;
  }
  ul {
    margin-top: 30px;
  }
}