// Styling for the team section
.team-member {
  text-align: center;
  img {
    width: 275px;
    height: 275px;
    border: 7px solid fade-out($black, 0.9);
    margin-bottom: 5px;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
    text-align: left;
  }
  a.btn {
    margin-top: 16px;
  }
}
