// Button Styles
.btn-holder {
  margin: auto;
  &:hover .btn {
    transform: rotate(-4deg);
  }

}
/*
.btn-bg-1,
.btn-bg-2,
.btn-bg-3 {
  position: absolute;
  width:104%;
  height:120%;
  left:-2%;
  right: -2%;
  top:-10%;
  z-index:-1000;
  border-width: 20px;
  background-blend-mode: multiply;
}
*/
.btn-bg-1 {
  background-color: #25ffff;
}
.btn-bg-2 {
  background-color: #ffe91b;
}
.btn-bg-3 {
  background-color: darken($primary, 45%);
}

.btn {
  @include heading-font;
  font-weight: 700;
  font-size: 18px;
  margin:auto;
  padding: 0;
  border-radius: 0;
  border: 0;
}

.btn-xl {
  font-size: 20px;
  //padding: 20px 40px;
  padding: 0;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  transition: none;
  border:1.5px solid rgba(0,0,0,0);
  &:hover {
    background-color: rgba(0,0,0,0);
    transition: none;
    border-color: darken($primary, 7.5%) !important;
    color: darken($primary, 7.5%) !important;
    padding:0 5px;
  }
  &:active,
  &:focus {
    color: black !important;
    background-color: $primary !important;
    border: 0px solid $primary;
    box-shadow: 0 0 0 0rem rgba(0,0,0,0) !important;
  }
}
